.planes{
    margin-top: 250px;
}

.planes h1, p {
    text-align: center;
}  

.p-titulo{
    font-size: 45px;
}

.p-intro{
    font-size: 25px;
    margin-bottom: -40px;
}


.slides .slick-prev,
.slides .slick-next {
    top: 50%;
}

.slick-prev:before, .slick-next:before{
    font-size: 50px !important;
    color: #6C63FF !important;
}

.slick-prev:hover:before, .slick-next:hover:before{
    color: orangered !important;
}

.slides {
    margin: auto;
    width: 40%;
}

.slides .slick-prev {
    left: -8%;
}

.slides .slick-next {
    right: -1%;
}

.aviso{
    margin-top: -50px;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
}

/* Paquetes */
.opcion{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
}


.imgLg{
    position: absolute;
    top: 25%;
    transition: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 200px;
    transition: 0.5s;
}

.imgLg img{
    position: absolute;
    margin-left: 25px;
    width: 270px;
}

.opcion-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.opcion-content h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.opcion-content p{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.opcion-content .nivel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.opcion-content .nivel h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.opcion-content .nivel span{
    width: 78px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    font-weight: 900;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    padding: 0 5px;
    cursor: pointer;
}


@media (max-width:1000px){
    .slides {
        margin: auto;
        width: 70%;
    }
}


@media (max-width:900px){
    .p-titulo{
        font-size: 35px;
    }
    
    .p-intro{
        font-size: 20px;
        margin-bottom: -40px;
    }
}

@media (max-width:750px){
    .slides {
        margin: auto;
        width: 80%;
    }
}

@media (max-width:600px){
    .p-titulo{
        font-size: 25px;
    }
    
    .p-intro{
        font-size: 18px;
        margin-bottom: -40px;
    }
}