.btn-return{
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    background: skyblue;
    font-weight: bold;
    cursor: pointer;
}

.btn-return:hover{
    text-decoration: none;
    color: #fff;
}

.notFound{
    text-align: center;
    margin: auto;
    background: #fff !important;
    width: 100%;
    height: 100vh;
}

.img-404{
    margin-top: 100px;
}

@media(max-width:900px){
    .img-404{
        margin-top: 250px;
        width: 700px;
    }
}

@media(max-width:600px){
    .img-404{
        margin-top: 250px;
        width: 500px;
    }
}